name: production
on: 
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  test-and-deploy:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: run cypress tests
        uses: cypress-io/github-action@v2
        timeout-minutes: 10
        continue-on-error: false

      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use Node.js 17.x
        uses: actions/setup-node@v1
        with:
          node-version: 17.x
      - run: npm install
      - run: npm run build --if-present
      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{ secrets.MY_SECRET_NAME }}
          heroku_app_name: 'next-music-isitech'
          heroku_email: 'francklucasehui@gmail.com'